#nb{
    background-color:grey;
    border-radius: 0px;
    border:0px;
    padding-bottom:0px;
}
#nb .navbar-brand 
{
    color:black;
    font-size:2.2em;
    padding:1em;
}
#navlist 
{
    color:black;
    text-align:center;
    margin:0px;
    margin-bottom:0px;
    margin-left:0px;
    font-size:1.5em;
    margin-top:0px;
}
.navbar-header .icon-bar
{
    border: 2px solid black;
}
.navbar-header button.navbar-toggle
{
    border:1px solid black;
}

#q
{
    margin-bottom:0px;
    padding-bottom:0;
}

@media(max-width:767px)
{
    header{
        padding-bottom:0;
        padding:0%;
    }
    #collapsable-nav #navlist
    {
        background-color:white;
        padding:0;
        margin:0;
        border:1px solid black;
    }
    #collapsable-nav
    {
        margin-top:0px;
        padding:0;
    }
    #collapsable-nav #navlist li hr 
    {
        margin:0;
        padding: 0%;
    }
    #collapsable-nav #navlist li {
        margin-left:0px;
        border:1px solid black;
    }
    #main-content
    {
        padding:4vw;
        padding-top:0vw;
    }
}

#main-content h2
{
    margin-top:2vw;
    margin-bottom:2.5vw;
    font-weight: 570;
}
#mc
{
    background-color: grey;
    color:black;
    font-weight:550;
}
#main-content h3
{
    font-weight: 570;
}